
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: aliceblue;
}

.background {
  position: absolute;
  z-index: -2;
  height: 100%;
  width: 100%;
  background-image: url("./images/day6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(11, 23, 49);
  opacity: .96;
}

.hello-user {
  position: absolute;
  top: 5%;
  margin: 0 5%;
  padding: 5px;
}

.login-btn {
  position: absolute;
  top: 5%;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 5%;
  padding: 5px;
  color: #000;
}

.weather-container {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 10px;
  margin: 10px;
  width: 166px;
}
  .zip-input {
    width: 66px;
  }

.date-time-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.clock {
  font-size: 5em;
  margin: 5px;
  padding: 5px;
}

.todos {
  position: absolute;
  bottom: 5%;
  right: 0;
}

.events {
  position: absolute;
  bottom: 5%;
  left: 0;
}

.container-title {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px black;
}

.container {
  border-radius: 6px;
  background-color: rgb(1, 0, 22);
  padding: 20px;
  margin: 20px;
  margin-top: 0;
  overflow: hidden;
  height: 250px;
}

.list-container {
  list-style: none;
  padding: 5px;
}

.checkbox {
  padding: 5px;
  margin: 0px 10px;
}

.delete-btn {
  padding: 5px;
  margin: 0px 10px;
}

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

@media (max-width: 650px)
{
  .login-btn {
    position: fixed;
    top: 1%;
    margin: 0;
  }
  .date-time-container {
    position: fixed;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .clock {
    font-size: 2em;
  }

  .events {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .todos {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}