
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: aliceblue;
}

.background {
  position: absolute;
  z-index: -2;
  height: 100%;
  width: 100%;
  background-image: url("./images/IMG_20181123_105826_022~2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(11, 23, 49);
  opacity: .96;
}

.weather-container {
  position: absolute;
  top: 5%;
  right: 0;
  padding: 0px 10px 10px 10px;
  margin: 10px;
}

.right {
  position: absolute;
  bottom: 5%;
  right: 0;
}

.left {
  position: absolute;
  bottom: 5%;
  left: 0;
}

.container {
  border-style: solid;
  padding: 0px 10px 10px 10px;
  margin: 10px;
  overflow: hidden;
}

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}