/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* COLOR PALETTE */
:root {
    --bg: rgb(70, 70, 70, 0.8);
    --wh: rgb(235, 235, 235);
    --blk: rgb(3, 11, 56);
    --gry: rgb(70, 70, 70);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--wh);
  text-shadow: 1px 1px var(--gry);
}

.background {
  position: absolute;
  z-index: -2;
  height: 100%;
  width: 100%;
  /* background-image: url("./images/night3.jpg"); */
  background-image: url('./images/day6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--blk);
  opacity: .96;
}

.hello-user {
  position: absolute;
  top: 5%;
  margin: 0 5%;
  padding: 5px;
}
.login-btn {
  position: absolute;
  top: 5%;
  background-color: var(--wh);
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 5%;
  padding: 5px;
  color: var(--blk);
}

.weather-container {
  position: absolute;
  top: 5%;
  right: 0;
  padding: 5px;
  margin: 5px;
  width: 150px;
  font-size: 1.2em;
}
.zip-input {
  display: inline;
  /* display: none; */
  width: 66px;
}

.date-time-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.date {
  font-size: 1.5em;
}
.clock {
  font-size: 6em;
  font-weight: bolder;
}

.todos {
  position: absolute;
  bottom: 20px;
  right: 0;
  border-radius: 6px;
  box-shadow: 1px 1px var(--wh);
  background-color: var(--bg);
  padding: 0 20px;
  margin: 20px;
  overflow: hidden;
  height: 300px;
  width: 400px;
}
.add-todo {
  position: fixed;
  top: 60%;
  right: 50px;
  text-align: center;
}

.events {
  position: absolute;
  bottom: 20px;
  left: 0;
  border-radius: 6px;
  box-shadow: -1px 1px var(--wh);
  background-color: var(--bg);
  padding: 0 20px;
  margin: 20px;
  overflow: hidden;
  height: 300px;
  width: 400px;
}
.add-event {
  position: fixed;
  top: 60%;
  left: 50px;
  text-align: center;
}

.container-title {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: bolder;
  font-size: 1.5em;
  z-index: 1;
}
.expand-btn {
  height: 25px;
  width: 25px;
}

.list-items {
  display: grid;
  grid-template-columns: 20% 40% 20%;
  grid-gap: 1rem;
  list-style: none;
  text-align: center;
  padding: 5px;
  height: 60px;
  z-index: 1;
}
.checkbox {
  padding: 5px;
  margin: 5px;
  width: 40px;
  height: 40px;
  z-index: 1;
}
  .checkbox:hover {
    cursor: pointer;
  }
.delete-btn {
  padding: 5px;
  margin: 0px 10px;
  z-index: 1;
}
  .delete-btn:hover {
    cursor: pointer;
  }

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

@media (max-width: 650px)
{
  .login-btn {
    position: fixed;
    top: 1%;
    margin: 0;
  }
  .date-time-container {
    position: fixed;
    top: 15%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  .date {
    font-size: 0.8em;
  }
  .clock {
    padding: 0;
    font-size: 2em;
  }

  .events {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .add-event {

  }
  .todos {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .add-todo {
    
  }
}